body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f4f4f4;
}
.container {
    border: 5px solid #333;
    padding: 20px;
    background-color: #fff;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 50%;
}
h1 {
    color: #13130e;
    text-align: center;
}
p {
    color: #666;
}
.section {
    margin-bottom: 15px;
}
.section h2 {
    color: #0c0c0a;
    border-bottom: 2px solid #666;
    padding-bottom: 5px;
}